{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <title>Instagram</title>
    <style>
        .square {

        }
        .square:before {
            content: '';
            padding: 50% 0;
            display: inline-block;
        }
        .square > .thumbnail {
            display: block;
            width: 100%;
            background-size: cover;
            background-position: center center;
        }
        .message-container {
            position: fixed;
            top: 10px;
            left: 10px;
            width: 300px;
        }
    </style>
</head>
<body>
    <div id="wrap">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="#" class="navbar-brand">Instagram</a>
            <form action="#" class="form-inline ml-md-auto">
                <input type="text" name="search_keyword" class="form-control" placeholder="검색">
            </form>
            <ul class="navbar-nav ml-md-auto">
                <li class="nav-item mr-sm-1">
                    <a href="#" class="btn btn-outline-primary">+ Add Post</a>
                </li>
                <li class="nav-item mr-sm-1">
                    <a href="#" class="btn btn-outline-secondary">Explore</a>
                </li>
                <li class="nav-item mr-sm-1">
                    <a href="#" class="btn btn-outline-secondary">Favorites</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="btn btn-outline-secondary">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="btn btn-outline-secondary">Logout</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="btn btn-outline-secondary">Login</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="btn btn-outline-secondary">Signup</a>
                </li>
            </ul>
        </nav>
        <div class="container-fluid mt-3">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>